ASSETCATALOG_COMPILER_APPICON_NAME=AppIcon
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME=AccentColor
CODE_SIGN_STYLE=Automatic
CURRENT_PROJECT_VERSION=1
DEVELOPMENT_TEAM=DXSRK6567B
ENABLE_PREVIEWS=YES
GENERATE_INFOPLIST_FILE=YES
INFOPLIST_KEY_UIApplicationSceneManifest_Generation=YES
INFOPLIST_KEY_UIApplicationSupportsIndirectInputEvents=YES
INFOPLIST_KEY_UILaunchScreen_Generation=YES
INFOPLIST_KEY_UISupportedInterfaceOrientations_iPad=UIInterfaceOrientationPortrait UIInterfaceOrientationPortraitUpsideDown UIInterfaceOrientationLandscapeLeft UIInterfaceOrientationLandscapeRight
INFOPLIST_KEY_UISupportedInterfaceOrientations_iPhone=UIInterfaceOrientationPortrait UIInterfaceOrientationLandscapeLeft UIInterfaceOrientationLandscapeRight
MARKETING_VERSION=1.0
PRODUCT_BUNDLE_IDENTIFIER=com.goharsha.MyCalc
PRODUCT_NAME=$(TARGET_NAME)
STRING_CATALOG_GENERATE_SYMBOLS=YES
SWIFT_APPROACHABLE_CONCURRENCY=YES
SWIFT_DEFAULT_ACTOR_ISOLATION=MainActor
SWIFT_EMIT_LOC_STRINGS=YES
SWIFT_UPCOMING_FEATURE_MEMBER_IMPORT_VISIBILITY=YES
SWIFT_VERSION=5.0
TARGETED_DEVICE_FAMILY=1,2

LD_RUNPATH_SEARCH_PATHS[config=Debug]=$(inherited) @executable_path/Frameworks
LD_RUNPATH_SEARCH_PATHS[config=Release]=$(inherited) @executable_path/Frameworks